<h2 class="page-header">Edit Director</h2>
<form action="/directors/<%= director.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/directors/<%= director.id %>"><i class="fas fa-window-close"></i></a>
    <button class="btn btn-primary" type="submit"><i class="fas fa-user-edit"></i></button>
  </div>
</form>
